<p id="notice"><%= notice %></p>
<%= image_tag "https://www.nasa.gov/sites/default/files/thumbnails/image/30337466261_fe90aa9aed_o.jpg", class: "thumbnail", alt: "Spaceship!" %>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
